/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.box {
  /* width: 100px;
  height: 100px; */
  border: 1px solid black;
  background-color: yellow;
}


#box3{
  /* position: absolute; */
  /* position: fixed; */
  position: sticky;
  background-color: yellowgreen;
  top: 0px;
  /* left:10px */
}

.wrapper{
  /* position: relative; */
  border: 1px solid red;
  width: 100px;
}