*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ; 
}

h1{
  border: 1px solid black;
  margin: auto;
  width:100px;
}

span{
  /* display: none; */
  /* display: block; */
  display: inline-block;
  border: 1px solid black;
  width: 100px;
  height:100px;
}