*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  /* float: right; */
  flex-direction: row;
  /* flex-direction: row-reverse; */
  /* justify-content: end; */
  justify-content: space-between;
  align-items: center;
}
/* flex-direction(main axis) is perpendicular to align items(cross axis) */

.box{
  background-color: pink;
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

