*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  overflow-y: scroll;
  margin: auto;
  border: 5px solid red;
  width: 40vw;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  /* float: right; */
  flex-direction: row;
  /* flex-direction: row-reverse; */
  /* justify-content: end; */
  justify-content: space-between;
  align-items: center;
  /* gap:10px; */
  align-content: space-evenly;
}
/* flex-direction(main axis) is perpendicular to align items(cross axis) */

.box{
  background-color: pink;
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

