*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  position: absolute;
  width: 500px;
  height: 50%;
  background-color: lightgreen;
  /* animation-name: kumar;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 1s;  
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: both; */

  animation: kumar 3s linear 1s infinite alternate both;
  
}

@keyframes kumar{
  /* from{
    width: 500px;
    height: 200px;
    background-color: lightgreen;
  }
  to{
    width: 700px;
    height: 400px;
    background-color: red;
    transform: translateX(300px);
  } */

  /* 0%{
    width: 500px;
    height: 200px;
    background-color: lightgreen;
  }
  25%{
    transform: rotate(30deg);
  }
  50%{
    /* width: 700px;
    height: 400px;
    background-color: red;
    transform: translateX(300px); */
    /* transform: skew(20deg);
    background-color: red;
  }
  100%{
    width: 500px;
    height: 200px;
    background-color: lightgreen;
    transform: translateX(300px);
  }  */

    0% {
      top: 0;
      left: 0%;
      background-color: violet;
    }
  
    14.28% {
      top: 0;
      left: 14.28%;
      background-color: indigo;
    }
  
    28.56% {
      top: 0;
      left: 28.56%;
      background-color: blue;
    }
  
    42.84% {
      top: 0;
      left: 42.84%;
      background-color: green;
    }
  
    57.12% {
      top: 0;
      left: 57.12%;
      background-color: yellow;
    }
  
    71.4% {
      top: 0;
      left: 71.4%;
      background-color: orange;
    }
  
    100% {
      top: 0;
      left: 100%;
      background-color: red;
    }
}

/* h1:hover{
  width: 700px;
  height: 400px;
  transition: all 1s ease-in-out ; 
} */