* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.container {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #fcf5eb;
}

.navbar {
  height: fit-content;
  background-color: #fcf5ebc8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding: 20px 40px;
  position: sticky;
  top: 0;
  z-index: 30;
  backdrop-filter: blur(2px);
}

.Features {

  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 110px;
  height: 20px;

}

.Features::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 5%;
  bottom: 0%;
  background-color: #25d366;
  transform: scaleX(0);
  transition: all 0.5s ease-in-out;
  transform-origin: left;

}

.Features:hover::after {
  transform: scaleX(1);
}

.Features>img {
  /* rotate: -90deg; */
  transform: rotate(-90deg);
  width: 10px;
  height: 15px;
}

.navbar img:nth-child(1) {
  width: 130px;
  height: 30px;
}

.nav-items {

  font-size: 16px;
  display: flex;
  gap: 35px;
}

.nav-items>p {
  cursor: pointer;
}

.slide {
  position: relative;
}

.slide::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 2%;
  bottom: 0%;
  background-color: #25d366;
  transform: scaleX(0);
  transition: all 0.5s ease-in-out;
  transform-origin: left;

}

.slide:hover::after {
  transform: scaleX(1);
}

.navbar>button,
.btn {
  overflow: hidden;
  position: relative;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  font-size: 18px;
  border-radius: 60px;
  background-color: #25d366;
  border: none;
  border: 0.1px solid black;
  z-index: 1;
}

.btn::before {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  /* scale: 1.3 ; */
  z-index: -1;
  position: absolute;
  content: "";
  opacity: 1;
  background-color: #ffffff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.5s 0.5s;
  transform: translatex(-150px) translateY(60px);
}

.btn:hover::before {
  margin-right: 30px;
  transform: translatex(-150px) translateY(-40px);
  opacity: 1;
}

.btn:hover {
  cursor: pointer;
}

/* .btn:hover{
    background-color: white;
    transition: 0.7s;
} */



.firstSection {

  padding: 20px 40px;
  /* padding-top: 40px; */
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
}

.maaBeti {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  /* padding: 0 100px; */
  align-items: center;
  border-radius: 25px;
  background-image: url(whatsApp/MaaBeti.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;

}

.firstSection>p {
  padding-top: 15px;
  font-size: 12px;
  text-align: end;
  opacity: 0.8;
}

.right {
  margin-top: 9%;
  position: relative;
  width: 500px;
  height: 100%;
}

.right img:nth-child(1) {
  width: 450px;
  animation: gm 0.5s ease-in-out;
}

@keyframes gm {
  0%{
    transform: translateY(50px);
  }
  100%{
    transform: translateY(0px);
  }
}

.right img:nth-child(2) {
  position: absolute;
  right: 48px;
  top: 20px;
  width: 450px;
  animation: dill 1s ease-in-out;
  }
  
  @keyframes dill {
    0% {
      opacity: 0;
    }
    75%{
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }


.right img:nth-child(3) {
  margin-left: 20px;
  width: 420px;
  animation: chai 2s ease-in-out;
  }
  
  @keyframes chai {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    75%{
      opacity: 0;
      transform: translateY(50px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
.right img:nth-child(4) {
  width: 450px;
  animation: voice 3s ease-in-out;
  }
  
  @keyframes voice {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
  
    75% {
      opacity: 0;
      transform: translateY(50px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
.right img:nth-child(5) {
  width: 450px;
  animation: emo 3.5s ease-in-out;
  }
  
  @keyframes emo {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
  
    75% {
      opacity: 0;
      transform: translateY(50px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }


.right img:nth-child(6) {
  position: absolute;
  top: 470px;
  right: 48px;
  width: 450px;
  animation: emotionalEmoji 4s ease-in-out;
  }
  
  @keyframes emotionalEmoji {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
  
    75% {
      opacity: 0;
    }
    90%{
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }


.right img:nth-child(7) {
  padding-top: 30px;
  width: 450px;
  animation: trip 4.8s ease-in-out;
  }
  
  @keyframes trip {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
  
    75% {
      opacity: 0;
      transform: translateY(50px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }


.btn {
  width: 200px;
}

.left {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.leftMsg {

  color: white;
}

.leftMsg>h1 {
  margin-bottom: 15px;
  overflow-y: hidden;
  line-height: 90px;
  letter-spacing: -3px;
  font-size: 4.9em;
  font-weight: 300;
}

.secondSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  overflow: hidden;
}

.secondSection > img{
  width: 80%;
}

.secondSection > p{
  text-align: center;
  font-size: 2.8em;
  letter-spacing: -1px;
  font-weight: 400;
}

.firstDiv{
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  margin-top: 80px;
}

.leftPart p:nth-child(1){
  font-size: 3.8em;
  line-height: 60px;
}

.leftPart p:nth-child(2){
  padding-top: 20px;
  font-size: 1.2em;
}

.learnMore{
  position: relative;
}

.learnMore > span{
  /* border: 1px solid black; */
  display: inline-block;
  padding-top: 40px;
  font-size: 16px;
  /* text-decoration: underline #25d366; */
  cursor: pointer;
}

.learnMore:hover{
  color: #00803e;
}


.learnMore::before{
  content: "";
  position: absolute;
  width:17%;
  bottom: -6%;
  height: 1px;
  background-color: #25d366;
}

.learnMore > img{
  padding-right: 14px;
  transform: rotate(180deg);
}

.beach{
  position: relative;
}


.beach img:nth-child(2){
  position: absolute;
  width: 340px;
  top: 28%;
  right: -4%;
}

.groupMsg{
  position: relative;
}

.groupMsg img:nth-child(2){
  position: absolute;
  width: 360px;
  top: 16%;
  right: -4%;
}

.darkDiv{
  background-color: #111B21;
  color: white;
  padding: 80px;
}

footer{
  
  background-color: #111B21;
  color: #fcf5eb;
  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upperFooter{
  width: 65%;
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  
}

ul
{
    list-style-type: none;
}


.lowerFooter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}

/* hr{
  width: 65%;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #00803e;
  

} */

.up1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

}

.up2, .up3, .up4, .up5{
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 30px;
}

ul> li{
  cursor: pointer;
  margin-top: 20px;
}

ul> li:hover{
  color: #25d366;
}

.up2> p, .up3> p, .up4> p, .up5 p{
  font-size: 12px;
  opacity: 0.8;
}

.lowerFooter{
  border: #00803e 1px solid;
  padding-top: 40px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-top: 40px;
  /* margin-bottom: 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}

.lowerFooter> p{
  font-size: 12px;
}

.footerSocial > i{
  border: 1px solid white;
  border-radius: 50%;
  padding: 18px;
  padding-right: 34px;
  cursor: pointer;
}

.footerSocial{
  display: flex;
  gap: 24px;
  color: #fff;
}

.language{
  font-size: 16px;
  padding: 16px 48px;
  border: 1px solid white;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  background: transparent;
}