*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

.container{
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: start;
  overflow-x: hidden;
  background-color: #f2f2f2;
}

.store{
  width: 75%;
  margin: auto;
  min-height: 100%;
  /* background-color: blueviolet; */
}

h1{
  font-size: 60px;
  text-align: center;
  padding: 30px;
}

.shoes {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card{
  /* border: 1px solid black; */

  width: 30%;
  /* min-height: 450px; */
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 7px 7px 20px #d3d3d3;

  display: flex;
  flex-direction: column;
}

/* .card div:nth-child(1){
  width: 100%;
} */


.image{
  width: 100%;
  height: 260px;
  overflow: hidden;
  border-radius: 20px;
  /* background-color: black; */

}

.image > img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  transition: 0.3s ease-in-out;
  /* border: 1px solid red */
}
.image>img:hover{
  transform: scale(1.2);
}

.details{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: auto;
  /* background-color: black; */
  /* height: 100px; */
}

.description{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button{
  border: none;
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

p.name{
  font-weight: 600;
  font-size: 20px;
}

p.category{
  font-size: 14px;
  color: #a0a0a0;
}

p.price{
  font-weight: 600;
  font-size: 20px;
}

p.colours{
  font-size: 14px;
  color: #a0a0a0;
}